.index {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  

  .bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../../static/images/bg_2.jpg') no-repeat;
    background-size: 100% 100%;

    .logo {
      position: absolute;
      width: 40%;
      height: 100px;
      background: url('../../static/images/logo.png') no-repeat;
      background-size: contain;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
    }

    .desc {
      position: absolute;
      top: 70%;
      width: 100%;
      text-align: center;
      font-size: 42px;
      color: red;
      margin-top: -12px;
    }

    // @media screen and (min-height: 800px) {
    //   .desc {
    //     width: 100%;
    //     text-align: center;
    //     font-size: 42px;
    //     color: red;
    //     margin-top: 48px;
    //   }
    // }
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
  }

  .user-cover {
    border-radius: 100%;
    background: url('../../static/images/header.png') no-repeat;
    background-size: cover;
  }

  .logo {
    background: url('../../static/images/logo.png') no-repeat;
    background-size: cover;
  }

  .page-container {
    position: absolute;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 16px;
    padding-top: 45%;
    width: 100%;
    box-sizing: border-box;
    
  }

  .nav-item {
    width: 80%;
    height: 100px;
    margin-bottom: 60px;
    font-size: 26px;

    .van-icon {
      font-size: 26px;
    }
  }
}

